<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title>Quest1</title>
                <link rel="stylesheet" href="css/style.css">
                <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        </head>
        <body style="background-color:black;">
                <h1 class="banner">CHAPTER 7: MISSION ACCEPTED</h1>
                
                <div style="display:none"> 
                <audio controls autoplay>
                <source src="FALLOUT4t45.mp3" type="audio/mpeg">
                </audio>
                </div>
                <div class="typewriter explain">
                        <h2>The Unknown man on the intercom tells you that Ruben-The-Boar is being held at the Raiders Camp.</h2>
                        <h2>To your suprise, as you look down to your right, a raider navigation bar sets you on path to their base.</h2>
                        <h2></h2>(since this is a Raiders vehicle)</h2>
                        <h2>Suddenly a huge Gangrel, with the fangs of a sabertooth and the size of an ape pops out in front of your car!</h2>
                        
                        <h2>Do you get out of the car and attack, or do you keep driving?</h2>
                        
                    
                </div>
        
                 <a href="get_out" class="question button">GET OUT AND ATTACK</a></a> 
            <a href="keep_driving" class="question button">KEEP DRIVING</a>

        </body>
        
</html>