<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title>attack1</title>
                <link rel="stylesheet" href="css/style.css">
                <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        </head>
        <body style="background-color:black;">
                   <div style="display:none"> 
       <audio controls autoplay>
  <source src="skyrim.mp3" type="audio/mpeg">
</audio>
                </div>
                <h1 class="banner">CHAPTER 1 SECTION 3</h1>
                <div class="typewriter explain">
                        <h2>You draw your weapon and prepare to fight.</h2>
                        <h2>Four raiders pull up in a souped-up Jeep.</h2>
                        <h2>They hop out when you show your weapon and scream a battle cry in unison.</h2>
                        <h2>They charge your position. You fight as hard as you can slashing,</h2>
                        <h2>and cutting them to pieces.</h2>
                        
                </div>
            `            
                  
            <a href="/win_or_die1" class="question button">ATTACK</a>
        
        </body>
        
</html>