<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title>block</title>
                <link rel="stylesheet" href="css/style.css">
                <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        </head>
        <body style="background-color:black;">
                <h1 class="banner">CHAPTER 1 SECTION 15</h1>
                 <div style="display:none"> 
       <audio controls autoplay>
  <source src="skyrim.mp3" type="audio/mpeg">
</audio>
                </div>
                <div class="typewriter explain">
                        <h2>You position your weapon to block the raider boss' heavey attack.</h2>
                        <h2>The force of the hammer throws you back against the wall and nearly breaks your back.</h2>
                        <h2>You get up, a little dizzy, and prepare to finish him.</h2>
                </div>
        
                <a href="/win_or_die3" class="question button">FINISH HIM</a>
        
        </body>
        
</html>