<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title></title>
                <link rel="stylesheet" href="css/style.css">
                <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        </head>
        <body style="background-color:black;">
                 <div style="display:none"> 
       <audio controls autoplay>
  <source src="FALLOUT4t45.mp3" type="audio/mpeg">
</audio>
                </div>
                <h1 class="banner">CHAPTER 2 SECTION 9</h1>
                <div class="typewriter explain">
                        <h2>You bring all the items outside and see a fully loaded and armored bus.</h2>
                        <h2>You enter the bus and put the items on a seat.</h2>
                        <h2>As you sit at the front of the bus in the driver seat, you pull down the sun visor and keys drop.</h2>
                        <h2>You start the bus and start to drive.</h2>
                </div>
        
                 <a href="/roadFight" class="question button">DRIVE</a> 
            
        
        </body>
        
</html>