<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title></title>
                <link rel="stylesheet" href="css/style.css">
                <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        </head>
        <body style="background-color:black;">
                <div style="display:none"> 
       <audio controls autoplay>
  <source src="FALLOUT4t45.mp3" type="audio/mpeg">
</audio>
                </div>
                <h1 class="banner">CHAPTER 2 SECTION 5</h1>
                <div class="typewriter explain">
                        <h2>You: Someone sent me to pick up some suplies?</h2>
                        <h2>Scooter: Yes. Just give me a second to get it.</h2>
                </div>
        
                 <a href="/barFight" class="question button">WAIT FOR SCOOTER</a> 
            
        
        </body>
        
</html>