<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title></title>
                <link rel="stylesheet" href="css/style.css">
                <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        </head>
        <body style="background-color:black;">
                <h1 class="banner">END OF CHAPTER 1</h1>
                <div style="display:none"> 
       <audio controls autoplay>
  <source src="FALLOUT4t45.mp3" type="audio/mpeg">
</audio>
                </div>
                <div class="typewriter explain">
                        <h2>Unknown: As a thank you, we would like to give you this rifle.</h2>
                        <h2>You: Thank you.</h2>
                        <h2>Unknown: You should probebly get some sleep.</h2>
                </div>
        
                 <a href="sleep" class="question button">GET SOME REST</a> 
            
        
        </body>
        
</html>