<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title></title>
                <link rel="stylesheet" href="css/style.css">
                <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        </head>
        <body style="background-color:black;">
                <div style="display:none"> 
       <audio controls autoplay>
  <source src="skyrim.mp3" type="audio/mpeg">
</audio>
                </div>
                <h1 class="banner">CHAPTER 1 SECTION 13</h1>
                <div class="typewriter explain">
                        <h2>You charge the raider boss, but before you get to him you are crushed by his hammer.</h2>
                </div>
        
                  
            <a href="game_over" class="question button">AN UPCLOSE AND PERSONAL DEATH</a>
        
        </body>
        
</html>