<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title></title>
                <link rel="stylesheet" href="css/style.css">
                <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        </head>
        <body style="background-color:black;">
                <h1 class="banner">THE ROAD</h1>
         <div style="display:none"> 
       <audio controls autoplay>
  <source src="bo2.mp3" type="audio/mpeg">
</audio>
                </div>
                <div class="typewriter explain">
                        <h2>You: Sorry, but I have to decline. Thank you anyway.</h2>
                        <h2>Unknown: It was good to meet you and thank you for helping us.</h2>
                        <p></p>
                        <h2>You hit the road and drive into the sunset.</h2>
                        <h2>As time passes, people remember only through the stories and myths.</h2>
                </div>
        
            <a href="/" class="question button">PLAY AGAIN</a>
            <a href="/end" class="question button">CREDITS</a>
        </body>
        
</html>