<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title></title>
                <link rel="stylesheet" href="css/style.css">
                <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        </head>
        <body style="background-color:black;">
                <h1 class="banner">CHAPTER 1 SECTION 18</h1>
          <div style="display:none"> 
       <audio controls autoplay>
  <source src="FALLOUT4t45.mp3" type="audio/mpeg">
</audio>
                </div>
                <div class="typewriter explain">
                        <h2>You put petal to the metal, and even as your car complains,</h2>
                        <h2>You barely make it back to town, and scream through the intercom</h2>
                        <h2>that you have Reuben. The townspeople pour out through the gates with guns,</h2>
                        <h2>bows, and other assorted weapons, and slaughter the raiders.</h2>
                        <h2>A couple of the armed townspeople take Reuebn, and motion to follow them.</h2>
                </div>
        
                
                <a href="town2" class="question button">FOLLOW THEM</a>
        
        </body>
        
</html>