<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title>END</title>
                <link rel="stylesheet" href="css/style.css">
                <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        </head>
        <body style="background-color:black;">
                <h1 class="banner">END</h1>
                 <div style="display:none"> 
       <audio controls autoplay>
  <source src="bo2.mp3" type="audio/mpeg">
</audio>
                </div>
                <div class="typewriter explain">
                        <h2>Thank you for playing our game, RADIATION POISONING!</h2>
                        <h2>Come back in the future to play again or for future episodes!</h2>
                        <h2>Made by: Miles Pines, Myles Dunlop, Ngawang Salaka.</h2>
                </div>
                
               
        
                 <a href="/" class="question button">PLAY AGAIN</a> 
                 
                    
        
        </body>
        
</html>