<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title></title>
                <link rel="stylesheet" href="css/style.css">
                <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        </head>
        <body style="background-color:black;">
                <h1 class="banner">CHAPTER 1 SECTION 11</h1>
                 <div style="display:none"> 
       <audio controls autoplay>
  <source src="skyrim.mp3" type="audio/mpeg">
</audio>
                </div>
                <div class="typewriter explain">
                        <h2>The gaurds look at you with a confused face.</h2>
                        <h2>One of the guards then pulls out a handful of grenades and lobs them at your car!</h2>
                        <h2>They roll under, and before you reach the gate they explode filling you with shrapnel</h2>
                        <h2>and destroying the car.</h2>
                </div>
        
                 <a href="/game_over" class="question button">THE SLOW AND PAINFUL DEATH</a> 
            
        
        </body>
        
</html>