<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title></title>
                <link rel="stylesheet" href="css/style.css">
                <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        </head>
        <body style="background-color:black;">
                <h1 class="banner">CHAPTER 2 SECTION 8</h1>
                 <div style="display:none"> 
       <audio controls autoplay>
  <source src="skyrim.mp3" type="audio/mpeg">
</audio>
                </div>
                <div class="typewriter explain">
                        <h2>You shoot one of the guys in the head, and another shoots at you.</h2>
                        <h2>You duck and throw your weapon at him.</h2>
                        <h2>With the time you made, you reload your rifle and shoot him.</h2>
                        <h2>The last two guys charge you.</h2>
                        <h2>You swing your rifle and knock one out.</h2>
                        <h2>The other guy, gets a hit on you, but you hit him with the butt of the rifle.</h2>
                        <h2>You smash both of their heads in.</h2>
                </div>
        
                 <a href="/buse" class="question button">TAKE THE ITEMS AND STEAL THE BUS</a> 
            
        
        </body>
        
</html>