<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title></title>
                <link rel="stylesheet" href="css/style.css">
                <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        </head>
        <body style="background-color:black;">
                <h1 class="banner">CHAPTER 1 SECTION 18</h1>
                <div style="display:none"> 
       <audio controls autoplay>
  <source src="skyrim.mp3" type="audio/mpeg">
</audio>
                </div>
                <div class="typewriter explain">
                        <h2>You get out of the car and tell Ruben to stay in the car.</h2>
                        <h2>You ready your weapon, knowing that you might not make it back alive.</h2>
                        <h2>As the raiders aproach, Ruben takes out a rifle from the back seat and soots</h2> 
                        <h2>one of the aproaching cars.</h2>
                        <h2>He limps over to you and cocks the gun.</h2>
                        <h2>The raider cars suround you and rev their engines.</h2>
                        <h2>You and Ruben attack, but in their vehicles, they are too strong.</h2>
                        <h2>You and Ruben are shot and slash down by the raiders.</h2>
                        
                </div>
        
                 <a href="game_over" class="question button">A WARRIOR'S DEATH</a> 
            
        
        </body>
        
</html>