<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title></title>
                <link rel="stylesheet" href="css/style.css">
                <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        </head>
        <body style="background-color:black;">
                <h1 class="banner">CHAPTER 1 SECTION 9</h1>
                <div style="display:none"> 
       <audio controls autoplay>
  <source src="skyrim.mp3" type="audio/mpeg">
</audio>
                </div>
                <div class="typewriter explain">
                        <h2>The gangrel rushes you, and doges all of your strikes.</h2>
                        <h2>It bites directly through your neck, ripping open your jugular.</h2>
                        <h2>Blood pours out in the gallons, and you collapse and die withing minutes.</h2>
                </div>
        
                
                <a href="game_over" class="question button">A GRUESOME DEATH</a>
        
        </body>
        
</html>