<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title>lose_town</title>
                <link rel="stylesheet" href="css/style.css">
                <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        </head>
        <body style="background-color:black;">
                <h1 class="banner">CHAPTER 1 SECTION 6</h1>
                 <div style="display:none"> 
       <audio controls autoplay>
  <source src="skyrim.mp3" type="audio/mpeg">
</audio>
                </div>
                <div class="typewriter explain">
                        <h2>You charge your car through the metal gates and instantly are gunned down by</h2>
                        <h2>many different fire arms. As life bleeds out of you, you collapse in the seat of your car.</h2>
                        
                </div>
        
                 
                <a href="game_over" class="question button">A FOOL'S DEATH</a>
        
        </body>
        
</html>