<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title></title>
                <link rel="stylesheet" href="css/style.css">
                <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        </head>
        <body style="background-color:black;">
                <h1 class="banner">CHAPTER 2 SECTION 3</h1>
                 <div style="display:none"> 
       <audio controls autoplay>
  <source src="FALLOUT4t45.mp3" type="audio/mpeg">
</audio>
                </div>
                <div class="typewriter explain">
                        <h2>Unknown: We have been running low on ammo, food, water, and other basic things.</h2>
                        <h2>You: What do I need to do?</h2>
                        <h2>Unknown: We need you to go to Nuke. It's a trading hub town on the outskirts of the wasteland</h2>
                        <h2>You: Ok, I will take one of the cars, and drive over.</h2>
                </div>
        
                
                <a href="nukeTown" class="question button">GET A CAR AND DRIVE TO NUKE</a>
        
        </body>
        
</html>