<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title></title>
                <link rel="stylesheet" href="css/style.css">
                <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        </head>
        <body style="background-color:black;">
                <h1 class="banner">CHAPTER 2 Section 4</h1>
                 <div style="display:none"> 
       <audio controls autoplay>
  <source src="FALLOUT4t45.mp3" type="audio/mpeg">
</audio>
                </div>
                <div class="typewriter explain">
                        <h2>You pull up to the entrance of the town and in big orange letters it says "NUKE."</h2>
                        <h2>You drive to a parking lot and park the car.</h2>
                        <h2>You walk up to a store and sees the sign that says "Scooter's EVERYTHING".</h2>
                        <h2>You walk in.</h2>
                </div>
        
                <a href="buy" class="question button">GO TO THE SUPPLIER</a> 
            
        
        </body>
        
</html>