<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title>Quest1</title>
                <link rel="stylesheet" href="css/style.css">
                <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        </head>
        <body style="background-color:black;">
                <h1 class="banner">CHAPTER 1 SECTION 6</h1>
           <div style="display:none"> 
       <audio controls autoplay>
  <source src="FALLOUT4t45.mp3" type="audio/mpeg">
</audio>
                </div>
                <div class="typewriter explain">
                        <h2>Unknown: You don't look like a raider so why are you in a raider vehicle?  </h2>
                        <h2>You: I commandeered the vehicle from a group of raiders.</h2>
                        <h2>Unknown: you faced a group of raiders? and managed to make it on your own? I presume you are a hunter</h2>
                        <h2>but before you're let in, the Angels, need something from you.</h2>
                        <h2>Unknown: If you go retrieve one of my Angels, Ruben-The-Boar, then I will grant you entrance to the town.</h2>
                        
                </div>
        
                 <a href="acceptmission1" class="question button">ACCEPT MISSION:RETRIEVE THE BOAR</a></a> 
            <a href="lose_town" class="question button">FORGET THE MISSION AND RAM THE GATES</a>

        </body>
        
</html>