<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title>quest2</title>
                <link rel="stylesheet" href="css/style.css">
                <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        </head>
        <body style="background-color:black;">
                <h1 class="banner">CHAPTER 2 SECTION 2</h1>
                 <div style="display:none"> 
       <audio controls autoplay>
  <source src="FALLOUT4t45.mp3" type="audio/mpeg">
</audio>
                </div>
                <div class="typewriter explain">
                        <h2>Unknown: I have another job for you.</h2>
                        <h2>Do you accept the job?</h2>
                </div>
        
                 <a href="low" class="question button">ACCEPT THE MISSION</a> 
            <a href="driveEnd" class="question button">HIT THE ROAD LIKE MAD MAX</a>
        
        </body>
        
</html>