<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title></title>
                <link rel="stylesheet" href="css/style.css">
                <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        </head>
        <body style="background-color:black;">
                <h1 class="banner">CHAPTER 1 SECTION 10</h1>
                <div style="display:none"> 
       <audio controls autoplay>
  <source src="FALLOUT4t45.mp3" type="audio/mpeg">
</audio>
                </div>
                <div class="typewriter explain">
                        <h2>As you drive up towards the demeaning gate, you see amputated bodies chained up to poles.</h2>
                        <h2>You hear screaming. Not sure if it's coming from the raiders or prisoners.</h2>
                        <h2>Do you ram the gates, or do you stop and talk to the guards at the gate?</h2>
                </div>
        
                    <a href="/raiderbaseinside" class="question button">RAM THE GATES</a>    
                    <a href="/guards" class="question button">STOP TO TALK TO THE GUARDS</a>
        
        </body>
        
</html>