<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title>Raider Base Inside</title>
                <link rel="stylesheet" href="css/style.css">
                <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        </head>
        <body style="background-color:black;">
                <h1 class="banner">CHAPTER 1 SECTION 11</h1>
                 <div style="display:none"> 
       <audio controls autoplay>
  <source src="skyrim.mp3" type="audio/mpeg">
</audio>
                </div>
                <div class="typewriter explain">
                        <h2>Your car tears through the gates and kills the guards.</h2>
                        <h2>All of the lunatics run towards you with guns, swords, bows, and other weapons.</h2>
                        <h2>You hide behind the car door and then charge them in brutal fury.</h2>
                        <h2>You brutally eliminate the entire lunatic contingent outside of the main building.</h2>
                        <h2>On one of the raiders you find a single grenade, and you pick it up.</h2>
                        <h2>Do you search outside for reuben, or do you enter the main building.</h2>
                </div>
        
                <a href="raiderbaseoutside" class="question button">SEARCH OUTSIDE</a> 
                <a href="raiderbasemainbuilding" class="question button">ENTER THE MAIN BUILDING</a>
        
        </body>
        
</html>