<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title></title>
                <link rel="stylesheet" href="css/style.css">
                <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        </head>
        <body style="background-color:black;">
                <h1 class="banner">CHAPTER 2 SECTION 11</h1>
                <div style="display:none"> 
       <audio controls autoplay>
  <source src="FALLOUT4t45.mp3" type="audio/mpeg">
</audio>
                </div>
                <div class="typewriter explain">
                        <h2>The car bumps the bus and you fall onto the hood of the car.</h2>
                        <h2>You shoot the driver threw the windsheild and throw his body out of the car.</h2>
                        <h2>You get into the car and drive close enough to the back of the bus.</h2>
                        <h2>You jump back in the bus and close the back door.</h2>
                        <h2>You go back to driving.</h2>
                </div>
        
                 <a href="/townfinal" class="question button">BACK TO TOWN</a> 
            
        
        </body>
        
</html>