<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title>road to town</title>
                <link rel="stylesheet" href="css/style.css">
                <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        </head>
        <body style="background-color:black;">
                <h1 class="banner">CHAPTER 1 SECTION 17</h1>
               <div style="display:none"> 
       <audio controls autoplay>
  <source src="FALLOUT4t45.mp3" type="audio/mpeg">
</audio>
                </div>
                <div class="typewriter explain">
                        <h2>On you way back to town you see 3 vehicles full of 12 raiders following you.</h2>
                        <h2>The raiders are in slightly faster cars, but are further back.</h2>
                        <h2>Do you attempt to make it back to town, and hope to fight them there,</h2>
                        <h2>or do you get out now, and fight them here.</h2>
                </div>
        
                <a href="lose4" class="question button">GET OUT AND ATTACK</a> 
                <a href="driving" class="question button">DRIVE AS FAST AS YOU CAN</a> 
            
        
        </body>
        
</html>