<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title></title>
                <link rel="stylesheet" href="css/style.css">
                <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        </head>
        <body style="background-color:black;">
                <div style="display:none"> 
               <audio controls autoplay>
          <source src="skyrim.mp3" type="audio/mpeg">
                </audio>
                </div>
                <h1 class="banner">CHAPTER 2 SECTION 10</h1>
                
                <div class="typewriter explain">
                        <h2>A guy from the back seat on the bus, who was sleeping, radios raiders to come and get the bus back.</h2>
                        <h2>You lock of the steering wheel and gas pedal and let the bus drive itself.</h2>
                        <h2>You go and throw the raider out the back door.</h2>
                        <h2>After you throw him out, you see two raider cars apraoching fast.</h2>
                        <h2>You take out your rifle and shoot the driver of one car, but miss the other.</h2>
                        
                </div>
        
                 <a href="/win_or_die5" class="question button">"ON THE HIGHWAY TO HELL"</a>
            
        
        </body>
        
</html>