<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title></title>
                <link rel="stylesheet" href="css/style.css">
                <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        </head>
        <body style="background-color:black;">
                <h1 class="banner">CHAPTER 2 SECTION 11</h1>
                 <div style="display:none"> 
       <audio controls autoplay>
  <source src="skyrim.mp3" type="audio/mpeg">
</audio>
                </div>
                <div class="typewriter explain">
                        <h2>You miss agian and the car gets closer.</h2>
                        <h2>The car bumps the back of the bus and you fall onto the car.</h2>
                        <h2>The car stops short and you fly forward, as the bus keeps driving away.</h2>
                        <h2>The raider car revs its engine and speeds towards you.</h2>
                        <h2>Before you can get up, the car runs over you and flattens your body.</h2>
                </div>
        
                 <a href="game_over" class="question button">A FLAT AND PLAIN DEATH</a> 
            
        
        </body>
        
</html>