<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title>run1</title>
                <link rel="stylesheet" href="css/style.css">
                <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        </head>
        <body style="background-color:black;">
                 <div style="display:none"> 
       <audio controls autoplay>
  <source src="1000miles.mp3" type="audio/mpeg">
</audio>
                </div>
                <h1 class="banner">CHAPTER 1 SECTION 3</h1>
                <div class="typewriter explain">
                        <h2>As the raiders are aprroaching you in their bandit technical jeep,</h2>
                        <h2> you quickly search your surrondings and find a scavenger buggy covered in corrosive dust.</h2>
                        <h2>You hop in, hot wire the car, and speed off.</h2> 
                        <h2>ALL OF A SUDDEN THE RADIO STARTS PLAYING</h2>
                        
                        
                        
                </div>
                
                
                <a class="button button3" href="town">DRIVE AWAY</a>