<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title>sleep</title>
                <link rel="stylesheet" href="css/style.css">
                <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        </head>
        <body style="background-color:black;">
                <h1 class="banner">CHAPTER 2 SECTION 1</h1>
                 <div style="display:none"> 
       <audio controls autoplay>
  <source src="FALLOUT4t45.mp3" type="audio/mpeg">
</audio>
                </div>
                <div class="typewriter explain">
                        <h2>You've just woken up and been told to talk to UNKNOWN.</h2>
                </div>
        
                 <a href="quest2" class="question button">TALK TO UNKNOWN</a> 
            
        
        </body>
        
</html>