<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title>START</title>
                <link rel="stylesheet" href="css/style.css">
                <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        </head>
        <body style="background-color:black;">
        <div style="display:none"> 
       <audio controls autoplay>
  <source src="FALLOUT4t45.mp3" type="audio/mpeg">
</audio>
        </div>
       
        <h1 class="banner">CHAPTER 1</h1>
        
        
        <div class="typewriter explain">       
            <h2>You have just woken up from the hazy World War IV, under the safety of the state fallout shelter.</h2>
            <h1>ALONE</h1>
            <h2>You will find a table with three weapons laying on it in front of you.</h2>
        </div>       
        <h4 class="question typewriter">choose your weapon for it shall forever be your running mate till' death.</h4>
        
        <div class="weapons lineup">
            <a href="sword_path"><img class="weapon" id="sword" src="http://i.imgur.com/lDAoKMe.png"></a> 
            <a href="bow_and_arrow_path"><img class="weapon" id="bow_and_arrow" src="https://hydra-media.cursecdn.com/skyrim.gamepedia.com/thumb/8/86/ElvenBow.png/300px-ElvenBow.png?version=9b2b0aee8dbb59d6fb4d32e2890c3488"></a>
            <a href="gunsword_path"><img class="weapon" id="gunsword" src="https://vignette1.wikia.nocookie.net/finalfantasy/images/a/a7/Dissidia-Revolver.png/revision/latest?cb=20110218050949"></a>
        </div>
        
        
        
        </body>
        
</html>
