<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title>START</title>
                <link rel="stylesheet" href="css/style.css">
                <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        </head>
     <div style="display:none"> 
       <audio controls autoplay>
  <source src="FALLOUT4t45.mp3" type="audio/mpeg">
</audio>
        </div>
       
        <body style="background-color:black;">
                <h1 class="banner">CHAPTER 1 SECTION 2</h1>
                <div class="typewriter explain">
                        <h2>A classic sword! A fine choice!</h2>

                        <h2>It shall greatly help on the path ahead.</h2>
                        <h2>After you stumble out of the fallout shelter,</h2>
                        <h2>into the harsh sunlight you encounter a group of raiders.</h2>
                        <h2>Do you attack or run?</h2>
                </div>
        
                 <a href="attack1" class="question button">ATTACK</a> 
            <a href="run1" class="question button">RUN</a>
        
        </body>
        
</html>