<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title>town inside</title>
                <link rel="stylesheet" href="css/style.css">
                <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        </head>
        <body style="background-color:black;">
                <h1 class="banner">CHAPTER 1 SECTION 19</h1>
                <div style="display:none"> 
       <audio controls autoplay>
  <source src="FALLOUT4t45.mp3" type="audio/mpeg">
</audio>
                </div>
                <div class="typewriter explain">
                        <h2>Unknown: Welcome to town... What was you name again?</h2>
                        <h2>You: Honestly, I'm not sure. I woke up with dog tags that said "CN2187" whatever that means.</h2>
                        <h2>Unknown: Well thankyou for saving a member of the Angels, we owe you one.</h2>
                        <h2>Unknown: And welcome to town!!</h2>
                </div>
        
                 <a href="chap1end" class="question button">CONTINUE</a> 
            
        
        </body>
        
</html>