<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title>START</title>
                <link rel="stylesheet" href="css/style.css">
                <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        </head>
        <body style="background-color:black;">
                 <div style="display:none"> 
       <audio controls autoplay>
  <source src="FALLOUT4t45.mp3" type="audio/mpeg">
</audio>
                </div>
                <h1 class="banner">CHAPTER 1 SECTION 5</h1>
                <div class="typewriter explain">
                        <h2>You have just arrived at the gates of an unknown town. Bright neon lights show "CAMP FLOGKNAW."</h2>
                        <h2>There is a voice intercome on the left to you.</h2>
                        <h2>Do you talk to the intercom, or barge through the gates?</h2>
                        
                        
                </div>
        
                 <a href="lose_town" class="question button">RAM THE GATES</a> 
                <a href="quest1" class="question button">TALK TO THE INTERCOM</a> 
        
        </body>
        
</html>
        