<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title></title>
                <link rel="stylesheet" href="css/style.css">
                <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        </head>
        <body style="background-color:black;">
                <h1 class="banner">CHAPTER 2 SECTION 12</h1>
                 <div style="display:none"> 
       <audio controls autoplay>
  <source src="FALLOUT4t45.mp3" type="audio/mpeg">
</audio>
                </div>
                <div class="typewriter explain">
                        <h2>You arive at the town and pull in through the gates.</h2>
                        <h2>The towns people thank and welcome you.</h2>
                        <h2>UNKNOWN welcomes you back.</h2>
                        <h2>Unkown: Thank you for everything.</h2>
                        <h2>You: Anytime. And I think I'm going to stick around for awhile.</h2>
                        <h2>Unkown: Since your going to be here a while, you should know my name. It's Selym Gnawagn Senip.</h2>
                </div>
        
                <a href="/end" class="question button">CREDITS</a> 
            
        
        </body>
        
</html>