<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title></title>
                <link rel="stylesheet" href="css/style.css">
                <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        </head>
        <body style="background-color:black;">
                <h1 class="banner">CHAPTER 1 SECTION 13</h1>
                <div style="display:none"> 
       <audio controls autoplay>
  <source src="skyrim.mp3" type="audio/mpeg">
</audio>
                </div>
                <div class="typewriter explain">
                        <h2>You throw the grenade, and it lands at the raider bosses feet.</h2>
                        <h2>It explodes knocking the boss off of his feet.</h2>
                        <h2>You approach to finish him.</h2>
                </div>
        
                 
            <a href="finishhim" class="question button">FINISH HIM</a>
        
        </body>
        
</html>