<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title>START</title>
                <link rel="stylesheet" href="css/style.css">
                <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        </head>
        <body style="background-color:black;">
                    <div style="display:none"> 
       <audio controls autoplay>
  <source src="1000miles.mp3" type="audio/mpeg">
</audio>
        </div> 
                <h1 class="banner">CHAPTER 1 SECTION 4</h1>
                <div class="typewriter explain">
                        <h2>You killed all the raiders with out a scratch.</h2>
                        <h2>You enter and hotwire their Jeep.</h2>
                        <h2>In the distance you see a highway and decide to start driving.</h2>
                        <h2>ALL OF A SUDDEN THE RADIO STARTS PLAYING</h2>
                </div>
        
                 
                <a href="town" class="question button">DRIVE</a>
        
        </body>
        
</html>