<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title></title>
                <link rel="stylesheet" href="css/style.css">
                <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        </head>
        <body style="background-color:black;">
                <h1 class="banner">CHAPTER 1 SECTION 9</h1>
               <div style="display:none"> 
       <audio controls autoplay>
  <source src="skyrim.mp3" type="audio/mpeg">
</audio>
                </div>  <div class="typewriter explain">
                        <h2>The Gangrel has been slain with little damage to you and your car.</h2>
                        <h2>You fix the damage the Gangrel did to the car with spare parts in the trunk.</h2>
                        <h2>You get back into your car and prepare to continue driving.</h2>
                </div>
        
                  
            <a href="raiderbase" class="question button">CONTINUE DRIVING</a>
        
        </body>
        
</html>