<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title>win3</title>
                <link rel="stylesheet" href="css/style.css">
                <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        </head>
        <body style="background-color:black;">
                <h1 class="banner">CHAPTER 1 SECTION 16</h1>
               <div style="display:none"> 
               <audio controls autoplay>
                  <source src="skyrim.mp3" type="audio/mpeg">
                </audio>
                </div> 
                <div class="typewriter explain">
                        <h2>You wound both of the raider boss' legs, making him fall to his knees.</h2>
                        <h2>Running as fast as you can, you brutaly strike the raider boss in the head.</h2>
                        <h2>The raider boss collapses to the floor, the life drained from him.</h2>
                        <h2>You pick up Reuben in the far side of the room, and steal one of the unused cars.</h2>
                        <h2>You prepare to drive back to town.</h2>
                </div>
        
                 
            <a href="road" class="question button">DRIVE</a>
        
        </body>
        
</html>